html, body {
    height: 100%;
    margin-top: 0%;
    background-image: url('fall.jpg');
    background-size: cover;
      color: white;
    padding: 5px;
    border-radius: 5px;
}

body{
    background-color: rgba(204, 37, 179, 0.5);
  

}

h1 {
    font-size: 4em;
    color: brown;
    text-align: center;
    margin-top: 10%;
    text-shadow: 2px, 2px,4px,rgba(0,0,0,0.7);
    color:brown;
}
p {
    font-size: 1.5em;
    color:rgb(248, 223, 36);
    text-align: center;
    text-shadow: 2px, 2px,4px,rgba(0,0,0,0.7);
    color:#000000;


}
ul {
    font-size: 1.0em;
    color: hsl(83, 93%, 61%);
    text-align: left;
    text-shadow: 2px, 2px,4px,rgba(0,0,0,0.7);
}

h2 
{
    font-size: 2em;
    color:rgb(108, 243, 81);
    text-align: center;
    
}


